<div id="inner-container">
<h1>Imóvel</h1>


<div class="fotorama">
<% @imovel.fotos.try(:each) do |i| %>
<%= image_tag(i.url) %>
<% end %>
</div>

<br />

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Endereço</h3>
  </div>
  <div class="panel-body">
	<%=@imovel.endereco%>, <%=@imovel.cidade%>, <%=@imovel.estado.nome%>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Características</h3>
  </div>
  <div class="panel-body">
	Tipo de imóvel: <%=@imovel.tipo_imovel.try(:nome)%>
	<br /><br />
	Quantidade de quartos: <%=@imovel.qtd_quartos%>
	<br /><br />
	Quantidade de suítes: <%=@imovel.qtd_suites%>
	<br /><br />
	Metragem (m²): <%=@imovel.metragem%>
	<br /><br />
	Vagas de automóvel: <%=@imovel.vagas_auto%>	
	<br /><br />
	Ano de construção: <%=@imovel.ano_construcao%>
	<br /><br />
	Áreas comuns: <br />
	<%@imovel.area_comums.each do |i|%>
	  - <%=i.nome%><br />
	<%end%>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Valores</h3>
  </div>
  <div class="panel-body">
	Valor de aluguel: <%=@imovel.valor_aluguel%>
	<br /><br />
	Valor de venda: <%=@imovel.valor_venda%>
	<br /><br />
	Valor do condomínio: <%=@imovel.valor_condominio%>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Descrição</h3>
  </div>
  <div class="panel-body">
	<%=simple_format(@imovel.descricao)%>
  </div>
</div>

<%= link_to 'Editar', edit_imovel_path(@imovel) %> |
<%= link_to 'Voltar', imovels_path %>
</div>
